@charset "utf-8";
@import "normalize";

$color-main: #83929a;
$color-alternate: #31bf76;

body {
  background: $color-main;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 6.75em;
  margin-top: 6em;
}

.explanation {
  font-size: 1.2em;
  color: white;
  line-height: 1.5;
  max-width: 450px;
  margin: 3em auto 5em;
  text-align: left;
  font-weight: 100;
}

.contact {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.paypal-button button {
  color: white !important;
  background-color: $color-alternate !important;
  border: none !important;
  background-image: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0.75em 0.7em !important;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 19px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  text-shadow: none !important;
  box-shadow: none !important;

  &::before,
  &::after {
    display: none !important;
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
