---
title: Welcome to TheShelf
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>

  <div class="explanation">
    <p>
      The Shelf is an online library for small companies to keep track of their
      books and to create discussion around knowledge.
    </p>

    <p>
      If you'd like to know more about it, I'd be glad to have a chat with you.
    </p>

    <p>
      You can reach me here: <span class="contact">zamith@subvisual.co</span>
    </p>
  </div>

  <form id="payment-form" action="https://theshelf-payments.herokuapp.com" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="pk_live_aNlwiHqOdzrS60XISchkdjr2"
      data-amount="100"
      data-currency="EUR"
      data-panel-label="Subscribe"
      data-label="Create my own Shelf"
      data-description="Beta Version (€1 per month)"
      data-name="TheShelf"
      data-allow-remember-me="false"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png",
    ></script>
    <input name="amount" value="100" type="hidden">
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    if(window.location.search.match(/success/)) {
      alert("Thanks! Keep a lookout for an email from us with further instructions.");
    }
  });
</script>
